# Never commit any Sonatype License Files
*.lic

# Never commit the personalised .env file
.env

# Never commit any generated nGinx content
# config/nginx-www/*

# Never commit any Docker Volume data (default path we use)
data/*
**/data/*

# Ignore developer IDE files
/.vscode
.DS_Store
